<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{{siteTitle}}} | Go Scan</title>
  <link rel="stylesheet" type="text/css" media="screen" href="style/normalize.css">
  <link rel="stylesheet" type="text/css" media="screen" href="style/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script defer src="js/main.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>